  <div class="container-main">
    <h1 class="cate-h1 mb-4">About</h1>
    <div class="about-desciption">
    <div class="image">
    <%= image_tag "l_yk_salon19053001.jpg", :size => '480x320' %>
      </div>
      <div class="text-center">
        <p class="about_title">Online Drug Learning Servise</p>
      </div>
      <p class="detail">
        Cannabis is a service where you can learn cannabis online.
      <br>
        Depending on how you learn, the results will change.
      <br>
        We offer a learning environment that is easy for even beginners to learn.
      </p>
    </div>
  </div>
