<div class="q-answer-content">
  <section class="container-main">
    <title class="cate-h1 mb-4">Answer</title>
    <div class="row">

      <p id="question"></p>
      <ul id="choices"></ul>
      <div id="btn" class="disabled">Next</div>
    </div>

    <section id="result" class="hidden">
      <p></p>
      <a href="">Replay?</a>
    </section>
  </section>

  <%= javascript_pack_tag 'posts/answer.js' %>
</div>
