<div class="container-main">
  <h1 class="cate-h1 mb-4">Answer</h1>
  <div class="row">
    <div class="col-md-12">
      <div class="question">
        <div class="q-answer-content">
        <p class="q-title">大麻の別称で正しいものはどれ？</p>
    <div class="col-md-4">
      <div class="q-answer">
        <a href="/posts/answer9" class="btn-square-so-pop">
        グリーン
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="q-answer">
     <a href="/posts/answer9" class="btn-square-so-pop">
        マリファナ
        </a>
      </div>
    <div class="col-md-4">
      <div class="q-answer">
        <a href="/posts/answer9" class="btn-square-so-pop">
        モミジ
        </a>
      </div>
      </div>
    <div class="col-md-12 mt-4 text-right">
      <div class="answer-number mt-4">2 of 3</div>
    </div>
    </div>
</div>
</div>
</div>
</div>
