<div class="container-main">
<h1 class="cate-h1">Categorise</h1>
<div class="row">
  <div class="col-md-12">
    <div class="cate-items">
      <div class="item-content">
        <p class="item-content-title">脳を興奮させる薬物</p>
        <p class="item-content-content">日本に最も多く出回っているものだ</p>
        <a class="start-lesson" href="/posts/answer">Start Lesson</a>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="cate-items">
      <div class="item-content">
        <p class="item-content-title">脳を麻痺させる薬物</p>
        <p class="item-content-content">精神安定剤や睡眠薬もこの中に含まれる</p>
        <a class="start-lesson" href="/posts/answer4">Start Lesson</a>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="cate-items">
      <div class="item-content">
        <p class="item-content-title">幻覚作用がある薬物</p>
        <p class="item-content-content">今流行の大麻はこの分類にあたる</p>
        <a class="start-lesson" href="/posts/answer7">Start Lesson</a>
      </div>
    </div>
  </div>
</div>
</div>
