<div class="container-main">
  <div class="row">
    <div class="pro-container">
    <div class="pro-title">
      <h1>Profile</h1>
    </div>
  <div class="user-info-container">
    <div class="user-info">
      <p><%= @current_user %></p>
      <p>Learned4words</p>
          <a class="lesson_button" href="/posts/lessons">
          Take a lesson
        </a>
    </div>
  <div class="user-info">
      <p class="ac-title">Activity</p>
      <ul class="ac-list">
        <p>learned 1 of 4 words 薬物の呼び名</p>
      </ul>
        </div>
      </div>
    </div>
  </div>
  </div>
