<div class="container-main">
  <div class="table-position">
    <div class="table-title">
      <h1>Result</h1>
    </div>

    <table>
      <div class="table-letter">
        <div class="table-border">

          <tr class="table-column">
            <th>Correct</th>
            <th>Word</th>
            <th>YourAnswer</th>
          </tr>
          <tr>
            <td></td>
            <td>チャイナアイス</td>
            <td>ヘロインは依存性が極めて高く、禁断症状を起こすを激痛を引き起こします。</td>
          </tr>
          <tr>
            <td></td>
            <td>全部</td>
            <td>薬だけでなく飲み物に含まれるものも向精神薬になります。<br>
              飲みすぎると自分の意思でやめることができなくなります。</td>
          </tr>
          <tr>
            <td></td>
            <td>歯や脳を溶かす</td>
            <td>塗料を塗りやすくする溶液です。吸いすぎると歯や脳が溶けて二度ともとには戻りません。</td>
          </tr>
    </table>
  </div>
</div>
</div>
</div>
