<div class="container-main">
  <div class="table-position">
    <div class="table-title">
    <h1>Result</h1>
  </div>

  <table>
    <div class="table-letter">
    <div class="table-border">

    <tr class="table-column">
      <th>Correct</th>
      <th>Word</th>
      <th>YourAnswer</th>
    </tr>
    <tr>
      <td></td>
      <td>アイス</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>ホワイト</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>エクスタシー</td>
      <td></td>
    </tr>
  </table>
  </div>
  </div>
  </div>
</div>
