<div class="container-main">
  <div class="table-position">
    <div class="table-title">
      <h1>Result</h1>
    </div>

    <table>
      <div class="table-letter">
        <div class="table-border">

          <tr class="table-column">
            <th>Correct</th>
            <th>Word</th>
            <th>YourAnswer</th>
          </tr>
          <tr>
            <td></td>
            <td>アイス</td>
            <td>他にもスピード・エス・痩せ薬とも言います。<br>
              日本で最も多く出回っている薬物です。</td>
          </tr>
          <tr>
            <td></td>
            <td>スノー</td>
            <td>他にもコーク・シーとも言います。ほんの少しでも強い効果を持っています。</td>
          </tr>
          <tr>
            <td></td>
            <td>エクスタシー</td>
            <td>バツとも言われています。見た目はカラフルな錠剤ですが、覚醒剤と同じくらい危険。</td>
          </tr>
    </table>
  </div>
</div>
</div>
</div>
