<div class="container-main">
  <div class="table-position">
    <div class="table-title">
    <h1>Result</h1>
  </div>

  <table>
    <div class="table-letter">
    <div class="table-border">

    <tr class="table-column">
      <th>Correct</th>
      <th>Word</th>
      <th>YourAnswer</th>
    </tr>
    <tr>
      <td></td>
      <td>全部</td>
      <td>スペイン・イギリス・アルゼンチンすべての国が大麻が合法です。<br>
      国によっては一部の地域だけ合法という国があります。</td>
    </tr>
    <tr>
      <td></td>
      <td>マリファナ</td>
      <td>他にもグラス・チョコ・ハッパとも言います。</td>
    </tr>
    <tr>
      <td></td>
      <td>ブロッター</td>
      <td>LDSは少しの量でも長時間の幻覚作用を与えるのでかなり危険です。</td>
    </tr>
  </table>
  </div>
  </div>
  </div>
</div>
