<div class="row">
  <div class="col-lg-6 offset-lg-3 col-12">
    <div class="text-center">
      <h1 class="signuo-title">Update your profile</h1>
    </div>
    <form class="edit_user">
      <div class="form-group picture_center">
      </div>
      <div class="form-group">
        <label for="user_name">Name</label>
        <input class="form-control" type="text">
      </div>
      <div class="form-group">
        <label for="user_name">Email</label>
        <input class="form-control" type="text">
      </div>
      <div class="form-group">
        <label for="user_name">Password</label>
        <input class="form-control" type="text">
      </div>
      <div class="form-group">
        <label for="user_name">Password confirmation</label>
        <input class="form-control" type="text">
      </div>
      <div class="form-group">
        <input type="submit" value="Save change" class="btn-block btn-color" data-disable-with="Save Change">
      </div>

    </form>
  </div>
</div>
