<div class="container-main">
  <div class="top-row">
      <div class="top-discription">
        <h2 class="description">
          <div class="top-imgae">
          <%=image_tag "cannabis-bad-375x250.jpg" %>
          </div>
        <div class="top-main">
          Let's
          <br class="br-n">
          Learn
          <br class="br-n">
          About Cannabis
        </h2>
        <div class="button">
          <a class="log" href="/users/sign_up">Member Registration</a>
        </div>
        <div class="button">
          <a class="log" href="/users/sign_in">Member Login</a>
          </div>
        </div>
      </div>
  </div>
</div>
