
  <div class="container-main">
  <div class="row top-row">
    <div class="col-md-6 col-12 top-col-left order-md-1">
    <div class="col-md-6 col-12 align-self-senter order-1 order-md-2">

<h2 class="description">
Let's
<br class="br-n">
Learn
<br class="br-n">
About Cannabis
</h2>
<div class="button">
  <a class="log" href="/users/sign_up">Member Registration</a>
</div>
<div class="button sp-button">
  <a class="log" href="/users/sign_in">Member Login</a>
</div>

</div>
</div>
</div>
</div>
