.box-name {
  color: white;
  margin-bottom: 10px;
}

.box-email{
  color: white;
  margin-bottom: 10px;
}

.box-password{
  color: white;
  margin-bottom: 10px;
}

.box-name input[type="text"] {
   width: 400px;
   height: 20px;
}
