table{
  background-color: white;
  margin: auto;
  border-collapse: collapse;
  height: 500px;
  width: ８00px;
}

table th{
  border: solid 1px black;
}

table td{
  border: solid 1px black;
}

.table-column{
  height: 50px;
  background-color: darkgray;
}
